---
import { formatDateToMMMYYYY, formatDateToYYYYMM } from '../../lib/utils/utils.dates';

interface Props {
    title: string;
    position: string;
    img: string;
    dates: {
        since: Date;
        to?: Date;
    }
}

const {title, position, img, dates} = Astro.props
---

<article class="card w-96">
    <div class="w-96 h-80">
        <img class="w-full h-full object-cover" src={img} alt="">
    </div>
    <div class="mt-4">
        <h4 class="text-2xl">{title}</h4>
        <h5>{position}</h5>
        <div class="mt-4">
            <time  datetime={formatDateToYYYYMM(dates.since)}>
                {formatDateToMMMYYYY(dates.since)}
            </time> - {
                dates.to ? <time  datetime={formatDateToYYYYMM(dates.to)}>
                {formatDateToMMMYYYY(dates.to)}
            </time> : "Actualmente"
            }
        </div>
    </div>
</article>